<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charles.coresparent" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Absences"
            android:label="@string/title_activity_absences" >
        </activity>
        <activity
            android:name=".Activities.Remarques"
            android:label="@string/title_activity_remarques" >
        </activity>
        <activity
            android:name=".Activities.Eleves"
            android:label="@string/title_activity_eleves" >
        </activity>
        <activity
            android:name=".Activities.Parametres"
            android:label="@string/title_activity_parametres" >
        </activity>
    </application>

</manifest>
